:root {
	/* =====> DARK MODE PALLETTE */

	--body_background_color: #202c37;
	--header_background_color: #2b3741;
	--elements_color: #003a70;
	--text_color: #ffffff;

	/* =====> LIGHT MODE PALLETTE */

	--body_background_color: #fafafa;
	--header_background_color: #ffffff;
	--elements_color: #ffffff;
	--text_color: #111517;
	--input_color: #858585;

	--header_padding: 20px 5%;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	padding: 0 5%;
}
